body{
    font-family: 'Nunito Sans', sans-serif;
}
header{
   background-image: url(../images/image-for-background.png); 
   height: 1000px;
   background-position: center;
   background-size: cover;
}
.header-wrapper{
    width:67.5%;
    display: flex;
    justify-content: space-between;
    margin:0 auto;  
    padding-top:28px;
}
.find p{
    font-size: 14px;
    color: #FFF;
    font-weight: 600;
    line-height: 140%;
}
.find form{
    display: flex;
    align-items: center;
}
.find input{
    background: inherit;
    border: none;
    margin-right:13px;
    width: 262px;
    border-bottom:1px solid #FFFF;
}
.languaches{
    display: flex;
    gap:10px;
}
.languaches p{
    line-height: 140%;   
    font-size: 16px;
    color: white;
}
.under-header{    
    width:67.5%;
    display: flex;
    justify-content: space-between;
    margin:0 auto;  
    color: #FFF;
}
.under-header p{
    font-size: 16px;
    line-height: 140%;
}
.header-border{
    border-bottom:1px solid #FFF;
    display: flex;
    align-items: center;  
    height:70px;
    margin-top:30px;
    border-top:1px solid #FFF;
}
.text-header{
    width:67.5%;
    display: flex;
    justify-content: space-between;
    margin:0 auto;  
    color: #FFF;
    margin-top:150px;
}
.text-header h1{
    font-size: 40px;
    font-weight: 700;
    line-height: 140%;
}
.text-header button{
    background: inherit;
    font-size: 12px;
    line-height: 140%;
    border:2px solid #FFF;
    color: #FFF;
    height:30px;
    justify-content: center;
    display: flex;
    align-items: center;
    margin-top:75px;
    margin-bottom:75px;
    width:115px;
}
.line-large{
    width: 40px;
    height: 8px;
    background: #FFF;
}
.line-big{
    width: 40px;
    height: 4px;
    background-color: #FFF;
}
.line-small{
    width: 40px;
    height: 4px;
    background-color: #FFF;
}
.lines{
    display: flex;
    gap:10px;
    margin-top:60px;
    align-items: end;
}